# **2nd class**

**STRING**

In [ ]:
print("Hello")
print('Hello')

Hello
Hello

In [ ]:
a = "Hello"
print(a)

Hello

In [ ]:
a ="""Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [ ]:
a = '''Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.'''
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [ ]:
a = "Hello, World!"
print(a[2])

l

In [ ]:
a = "Hello, World!"
print(len(a))

13

In [ ]:
txt = "The best things in life are free!"
print("free" in txt)

True

In [ ]:
txt = "The best things in life are free!"
print("expensive" not in txt)

True

**STRING SLICING**

In [ ]:
b = "Hello, World!"
print(b[1:5])

ello

**Slice From the Start**

In [ ]:
b = "Hello, World!"
print(b[:5])

Hello

In [ ]:
b = "Hello, World!"
print(b[:])

Hello, World!

**Slice To the End**

In [ ]:
b = "Hello, World!"
print(b[6:])

 World!

**Negative Indexing**

In [ ]:
b = "Hello, World!"
print(b[-6:-1])

World

**Upper Case**

In [ ]:
a = """Hello, World!
       Welcome to Data Nerd"""
print(a.upper())

HELLO, WORLD!
       WELCOME TO DATA NERD

**Lower Case**

In [ ]:
"""Hello, World!
       Welcome to Data Nerd"""
print(a.lower())

hello, world!
       welcome to data nerd

**Remove Whitespace**

In [ ]:
a = "     Hello, World!     "
print(a.strip()) # returns "Hello, World!"

Hello, World!

**Replace String**

In [ ]:
a = "Hello World!"
print(a.replace("Hello", "WELCOME TO THE"))

WELCOME TO THE World!

**SPLIT STRING**

In [ ]:
a = "Hello, World!,I,AM,HERE"
print(a.split(",")) # returns ['Hello', ' World!']

['Hello', ' World!', 'I', 'AM', 'HERE']

In [ ]:
a = "Hello, World!,I,AM,HERE"
print(a.split("****")) # returns ['Hello', ' World!']

['Hello, World!,I,AM,HERE']

**STRING_CONCATENATION**

In [ ]:
a = "Hello"
b = "World"
c = a + (" ") + b + ("   ----   I am Muntasir Shariyer :D")
print(c)

Hello World   ----   I am Muntasir Shariyer :D

**String Format**

In [ ]:
age = "36"
txt = "My name is John, I am " + age + (" years old")
print(txt)

My name is John, I am 36 years old

In [ ]:
age = 36
txt = "My name is John, I am " + age #can only concatenate str (not "int") to str
print(txt)

#look at the next cell

TypeError: ignored

In [ ]:
age = str(36) # or ( age = "36" )  # convert int(age) to str(age)... WoW now it's running, No M-A-M-L-A in this time :p
txt = "My name is John, I am " + age
print(txt)

My name is John, I am 36

**FANCIER OUTPUT FORMATTING**

In [ ]:
country='QATAR'
year = 2022
event='WORLD CUP'
f'FIIFA {event} {year} in {country}'

'FIIFA WORLD CUP 2022 in QATAR'

**Use the format() method to insert numbers into strings:**

In [ ]:
age = 36
txt = "My name is John, and I am {}"
print(txt.format(age))

My name is John, and I am 36

**The format() method takes unlimited number of arguments, and are placed into the respective placeholders:**

In [ ]:
quantity = 3
item_no = 567
price = 49.95
myorder = "I want {} pieces of item {} for {} dollars."
print(myorder.format(quantity, item_no, price))

I want 3 pieces of item 567 for 49.95 dollars.

**PASS VALUE AS A TUPLE**

In [ ]:
A = 'I'
B = 'YOU'
C = 'ME'

print( " %s  LOVE  %s" %(A,B))
print( " %s  LOVE  %s" %(B,C))

 I  LOVE  YOU
 YOU  LOVE  ME

**You can use index numbers {0} to be sure the arguments are placed in the correct placeholders**

In [ ]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want to pay {2} dollars for {0} pieces of item {1}." # index count from 0 1 2 3 4....
print(myorder.format(quantity, itemno, price))

I want to pay 49.95 dollars for 3 pieces of item 567.

#Escape Character
** An escape character is a backslash \ followed by the character you want to insert.**

An example of an illegal character is a double quote inside a string that is surrounded by double quotes:

In [ ]:
 """      \ ("start escaping...........\ " )end escaping....
note: jeta theke escape korte chai~~~~ setar shurute and sesher age back slash dibo """ 


txt = "We are the so-called \"Vikings\" from the north."
print( txt )

We are the so-called "Vikings" from the north.

escapping single quote.....single quote escape korte hole setar age just \ dilei escape hye jabe

In [ ]:
txt = 'It\'s alright.'
print(txt)

It's alright.

single back slash use korar jonno double back slash use korte hbe..

In [ ]:
txt = "This will insert one \\ (backslash)."
print(txt)

This will insert one \ (backslash).

For new line

In [ ]:
txt = "Hello\nWorld!"
print(txt)

Hello
World!

For carriage return ( bujte hbe vaiyyar kache...w3 er moto output show kore na )

In [ ]:
print('Python is included in CodeSpeedy\r123456')

123456

for tab ( 4 spaces )

In [ ]:
txt = "Hello\tWorld\t!"
print(txt)

Hello	World	!

For erase one character(back_space)

In [ ]:
#This example erases one character (backspace):
txt = "Hello...a\bWorld!" # ekhane a ta remove hye jabe cz \b means pichoner ekta character remove hye jabe
print(txt)

Hello...aWorld!

**#A backslash followed by three integers will result in a octal value:**

In [ ]:
txt = "\110\145\154\154\157" # here, 110=is a octal value of H similarly, 145=e,154=l.157=o 
print(txt)

Hello

**A backslash followed by an 'x' and a hex number represents a hex value:**

In [ ]:
txt = "\x48\x65\x6c\x6c\x6f" # here~ x48 is hexadecimal value of H,similarly x65,x6c,xf are e,l,o
print(txt)

Hello

\f denotes form feed. It is nothing but a page breaking ascii control character

In [ ]:
x = 'hello\fworld'
print(x)

helloworld

# Thank you so much vaiyya â›²