# List

In [ ]:
thislist = ["apple", "banana", "cherry"]
print(thislist)

['apple', 'banana', 'cherry']

In [ ]:
thislist = ["apple", "banana", "cherry", "apple", "cherry"] # list allow duplicate value
print(thislist)

['apple', 'banana', 'cherry', 'apple', 'cherry']

In [ ]:
thislist = ["apple", "banana", "cherry"]
print(len(thislist)) #count number of the items in list or the list length

3

A list can contain  along different data types such as string,int,float,boolean,set,tupple,dictionary

In [ ]:
list1 = ["apple", "banana", "cherry"]
list2 = [1, 5, 7, 9, 3]
list3 = [True, False, False]

list4 = ["abc", 34, True, 40, "male"]

In [ ]:
mylist = ["apple", "banana", "cherry"]
print(type(mylist)) #check the data type

<class 'list'>

## **List Constructor**

In [ ]:
thislist = list(("apple", "banana", "cherry")) # put the tuple in the list
print(thislist)

['apple', 'banana', 'cherry']

In [ ]:
tupple=("apple", "banana", "cherry") 
print(list(tupple))

['apple', 'banana', 'cherry']

# Python - Access List Items

In [ ]:
thislist = ["apple", "banana", "cherry"]
print(thislist[1])

banana

In [ ]:
thislist = ["apple", "banana", "cherry"]
print(thislist[-3]) # negative indexing i.e. start from the end

apple

In [ ]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5]) #index slicing or range of indexes

['cherry', 'orange', 'kiwi']

In [ ]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[:4]) # range of index: 0 to <4 i.e. 0 1 2 3

['apple', 'banana', 'cherry', 'orange']

In [ ]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:]) # range of index: 2 to end of the list

['cherry', 'orange', 'kiwi', 'melon', 'mango']

In [ ]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[-4:-1]) # range of index: -4 to <-1 i.e. -4 -3 -2

['orange', 'kiwi', 'melon']

**Change item value in the list**

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist[2] = "orange" # put orange in number 2 index
print(thislist)

['apple', 'banana', 'orange']

In [ ]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist[1:3] = ["blackcurrant", "watermelon"] #change value item within a specific range ,here range 1 to <3 i.e. 1 2
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'mango']

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist[1:2] = ["blackcurrant", "watermelon"] #Change the second value by replacing it with two new values
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'cherry']

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist[1:3] = ["watermelon"] #Change the second and third value by replacing it with one value
print(thislist)

['apple', 'watermelon']

**insert item**

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(2, "watermelon") #insert "watermelon" in index 2
print(thislist)

['apple', 'banana', 'watermelon', 'cherry']

Add item

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.append("orange") #To add an item to the end of the list, use the append() method
print(thislist)

['apple', 'banana', 'cherry', 'orange']

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(1, "orange") #The insert() method inserts an item at the specified index
print(thislist)

['apple', 'orange', 'banana', 'cherry']

**Extend List**

In [ ]:
thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
thislist.extend(tropical) #To append elements from another list to the current list, use the extend() method.
print(thislist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

In [ ]:
thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
tropical.extend(thislist) #To append elements from another list to the current list, use the extend() method.
print(tropical)

['mango', 'pineapple', 'papaya', 'apple', 'banana', 'cherry']

**Add elements of a tuple,set and dictionary to a list**   The extend() method not only append lists, but also append any iterable object like (tuples, sets, dictionaries etc.).

In [ ]:
thislist = ["apple", "banana", "cherry"]
thistuple = ("kiwi", "orange")
thislist.extend(thistuple)
print(thislist)

['apple', 'banana', 'cherry', 'kiwi', 'orange']

In [ ]:
thislist = ["apple", "banana", "cherry"]
thisset = {"kiwi", "orange"}
thislist.extend(thisset)
print(thislist)

['apple', 'banana', 'cherry', 'kiwi', 'orange']

In [ ]:
thislist = ["apple", "banana", "cherry"]
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thislist.extend(thisdict)
print(thislist)

['apple', 'banana', 'cherry', 'brand', 'model', 'year']

**Remove List Items**

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.remove("banana") # *The remove() method removes the specified item*
print(thislist)

['apple', 'cherry']

pop()

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.pop(1) #The pop() method removes the specified index
print(thislist)

['apple', 'cherry']

If you do not specify the index, the pop() method removes the last item.

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.pop() #pop() method removes the last item
print(thislist)

['apple', 'banana']

The del keyword also removes the specified index

In [ ]:
thislist = ["apple", "banana", "cherry"]
del thislist[-1] #Remove the last item
print(thislist)

['apple', 'banana']

In [ ]:
thislist = ["apple", "banana", "cherry"]
del thislist[0] #Remove the first item
print(thislist)

['banana', 'cherry']

In [ ]:
thislist = ["apple", "banana", "cherry"]
del thislist[:] #Remove the all item like clear method
print(thislist)

[]

In [ ]:
thislist = ["apple", "banana", "cherry"]
del thislist #Delete the entire list
#print(thislist)

**Clear the List**

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.clear() #Clear the list content
print(thislist)

[]

**Sort Lists**

*List objects have a sort() method that will sort the list alphanumerically, ascending, by default*

In [ ]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort()
print(thislist)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']

In [ ]:
thislist = [100, 50, 65, 82, 23]
thislist.sort() # sort numerically
print(thislist)

[23, 50, 65, 82, 100]

***Desending sorting***

In [ ]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort(reverse = True) # To sort descending, use the keyword argument reverse = True.>>
print(thislist)

['pineapple', 'orange', 'mango', 'kiwi', 'banana']

In [ ]:
thislist = [100, 50, 65, 82, 23]
thislist.sort(reverse = True)
print(thislist)

[100, 82, 65, 50, 23]

**Case insensetive sort**

In [ ]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort()
print(thislist) # capital letter ASCII value < small letter ascii value...so consider the capital charachter in first

['Banana', 'Kiwi', 'Orange', 'cherry']

Perform a case-insensitive sort of the list

In [ ]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort(key = str.lower)
print(thislist)

['banana', 'cherry', 'Kiwi', 'Orange']

Reverse Order

In [ ]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.reverse() #The reverse() method reverses the current sorting order of the elements
print(thislist)

['cherry', 'Kiwi', 'Orange', 'banana']

Copy Lists

In [ ]:
#Make a copy of a list with the copy() method:

thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
print(mylist)

['apple', 'banana', 'cherry']

In [ ]:
#another way of copy list
thislist = ["apple", "banana", "cherry"]
mylist = list(thislist)
print(mylist)

['apple', 'banana', 'cherry']

In [ ]:
#Join two list:

list1 = ["ijaj", "bhai", "onek valo"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

['ijaj', 'bhai', 'onek valo', 1, 2, 3]

In [ ]:
#Use the extend() method to add list2 at the end of list1:

list1 = ["ijaj", "bhai", "onek valo"]
list2 = [1, 2, 3]

list2.extend(list1)
print(list2)

[1, 2, 3, 'ijaj', 'bhai', 'onek valo']

** SOME LIST METHODS**

**append ()**

In [ ]:
# Adds an element at the end of the list
fruits = ['apple', 'banana', 'cherry']
fruits.append("orange")
print(fruits)

['apple', 'banana', 'cherry', 'orange']

In [ ]:
# Add a list to a list
a = ["apple", "banana", "cherry"]
b = ["Ford", "BMW", "Volvo"]
a.append(b) # acts like a=a.append(b)
print(a)

['apple', 'banana', 'cherry', ['Ford', 'BMW', 'Volvo']]

clear() Method

In [ ]:
#Remove all elements from the fruits list:

fruits = ['apple', 'banana', 'cherry', 'orange']

fruits.clear()
fruits

[]

**copy()**

In [ ]:
#Copy the fruits list:

fruits = ['apple', 'banana', 'cherry', 'orange']

x = fruits.copy() 

y=fruits #another way of copy

print(y)
print("\n")
print(x)

['apple', 'banana', 'cherry', 'orange']


['apple', 'banana', 'cherry', 'orange']

**count() Method**

In [ ]:
#Return the number of times the value "cherry" appears in the fruits list

fruits = ['apple', 'banana', 'cherry']

x = fruits.count("cherry") # count how many cherry in the fruits list
print(x)

1

In [ ]:
points = [1, 4, 2, 9, 7, 8, 9, 3, 1]

x = points.count(9) # how many 9 in the list
print(x)

2

**extend() method**

In [ ]:
#Add the elements of cars to the fruits list

fruits = ['apple', 'banana', 'cherry']

cars = ['Ford', 'BMW', 'Volvo']

fruits.extend(cars)
print(fruits)

['apple', 'banana', 'cherry', 'Ford', 'BMW', 'Volvo']

In [ ]:
# Add a tuple to the fruits list:

fruits = ['apple', 'banana', 'cherry']

points = (1, 4, 5, 9)

fruits.extend(points)
print(fruits)

['apple', 'banana', 'cherry', 1, 4, 5, 9]

**index() Method**

In [ ]:
#What is the position of the value "cherry"

fruits = ['apple', 'banana', 'cherry']

x = fruits.index("cherry") # index count from 0 1 2 3 4...............
print(x)

2

In [ ]:
#What is the position of the value 32

fruits = [4, 55, 64, 32, 16, 32]

x = fruits.index(32) # if same number has multiple index then consider the first one
print(x)

3

**insert(position,element)**

In [ ]:
#Insert the value "orange" as the second element of the fruit list:

fruits = ['apple', 'banana', 'cherry']

fruits.insert(1, "orange")
print(fruits)

['apple', 'orange', 'banana', 'cherry']

**pop() method**

In [ ]:
#Remove the second element (i.e. index 1 element) of the fruit list:

fruits = ['apple', 'banana', 'cherry']

fruits.pop(1)
print(fruits)

#Return the removed element:

fruits = ['apple', 'banana', 'cherry']

x = fruits.pop(1)
print("\n"+ x)

['apple', 'cherry']

banana

** remove() Method**

In [ ]:
#Remove the "banana" element of the fruit list

fruits = ['apple', 'banana', 'cherry']

fruits.remove("banana")
print(fruits)

['apple', 'cherry']

**reverse() method**

In [ ]:
#Reverse the order of the fruit list

fruits = ['apple', 'banana', 'cherry']

fruits.reverse()
print(fruits)

['cherry', 'banana', 'apple']

**sort() Method**

In [ ]:
#$Sort the list alphabetically

cars = ['Ford', 'BMW', 'Volvo']

cars.sort()
print(cars)

['BMW', 'Ford', 'Volvo']

In [ ]:
#Sort the list descending

cars = ['Ford', 'BMW', 'Volvo']

cars.sort(reverse=True)
print(cars)

['Volvo', 'Ford', 'BMW']

# THANK YOU SO MUCH VAIYYA ✌