## **Tuple**

In [ ]:
mytuple = ("apple", "banana", "cherry") #Tuples are used to store multiple items in a single variable. i.e. orderd,unchangeable.immutable.allow duplicate value
print(mytuple)

('apple', 'banana', 'cherry')

In [ ]:
thistuple = ("apple", "banana", "cherry")
print(len(thistuple)) # use len fn for counting how many items tupple has

3

In [ ]:
# One item tuple, remember the comma in the last:

thistuple = ("apple",)
print(type(thistuple))

# NOT a tuple
thistuple = ("apple")
print(type(thistuple))

<class 'tuple'>
<class 'str'>

In [ ]:
# A tuple with strings, integers and boolean values:

tuple1 = ("abc", 34, True, 40, "male")

print(type(tuple1))

<class 'tuple'>

In [ ]:
# Using the tuple() method to make a tuple: TUPLE CONSTRACTOR/TYPE CASTING

thistuple = tuple(("apple", "banana", "cherry")) # note the double round-brackets
print(thistuple)

('apple', 'banana', 'cherry')

In [ ]:
#Print the second item in the tuple: with the help of indexing

thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

banana

In [ ]:
#Return the  fourth, and fifth item:

thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[3:5])

('orange', 'kiwi')

In [ ]:
#This example returns the items from the beginning to, but NOT included, "kiwi":

thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[:4])

('apple', 'banana', 'cherry', 'orange')

**Change Tuple Values though we know tuple are unchangable or immutable**

In [ ]:
#Convert the tuple into a list to be able to change it
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry')

In [ ]:
#Add item in tupple
#Convert the tuple into a list, add "orange", and convert it back into a tuple:

thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.append("orange") #append fn add an item in last of the list
thistuple = tuple(y)
print(thistuple)

('apple', 'banana', 'cherry', 'orange')

In [ ]:
#ADD tuple to a tuple
#Create a new tuple with the value "orange", and add that tuple:

thistuple = ("apple", "banana", "cherry")
y = ("orange",) #remember add the , in the last of a single item tuple
thistuple += y # means thistuple=thistuple+y

print(thistuple)

('apple', 'banana', 'cherry', 'orange')

**Remove Items**

In [ ]:
#Convert the tuple into a list, remove "apple", and convert it back into a tuple:

thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.remove("apple")
thistuple = tuple(y)
print(thistuple)

('banana', 'cherry')

In [ ]:
#you can delete the tuple completely:
#The del keyword can delete the tuple completely:

thistuple = ("apple", "banana", "cherry")
# del thistuple
print(thistuple) #this will raise an error because the tuple no longer exists if we delete previous lines #

('apple', 'banana', 'cherry')

## unpack

In [ ]:
#When we create a tuple, we normally assign values to it. This is called "packing" a tuple:

#packing a tuple:

fruits = ("apple", "banana", "cherry") #packing

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
cherry

**Using Asterisk**

In [ ]:
#If the number of variables is less than the number of values, you can add an * to the variable name and the values will be assigned to the variable as a list:
#Assign the rest of the values as a list called "red":

fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, yellow, *red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'raspberry']

In [ ]:
fruits = ("apple", "mango", "papaya", "pineapple", "cherry")

(green, *tropic, red) = fruits

print(green)
print(tropic)
print(red)

apple
['mango', 'papaya', 'pineapple']
cherry

#Join Tuples

In [ ]:
#Join two tuples:

tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2 # bcz tuple in unchangble .we cant operate extend or insert fn directly in tuple
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

In [ ]:
#Multiply the fruits tuple by 2:

fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2

print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

In [ ]:
""" count method 
 Syntax
tuple.count(value) """

#Return the number of times the value 5 appears in the tuple:

thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)

x = thistuple.count(5) # 5 koybar ace??


print(x)

2

In [ ]:
#index() Method

#Search for the first occurrence of the value 8, and return its position:

thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)

x = thistuple.index(8) # 8 koto no index e ace n.b. first occurance

print(x)

3

# SET

1.   A set is a collection which is unordered, unchangeable*, and unindexed.(Set items are unchangeable, but you can remove items and add new items.)
2.   Dont allow duplicate value

In [ ]:
#Create a Set:

thisset = {"apple", "banana", "cherry"}
print(thisset)

{'banana', 'cherry', 'apple'}

In [ ]:
#Duplicate values will be ignored:

thisset = {"apple", "banana", "cherry", "apple"}

print(thisset)

{'banana', 'cherry', 'apple'}

In [ ]:
thisset = {"apple", "banana", "cherry"}

print(len(thisset))

3

In [ ]:
#String, int and boolean data types:

set1 = {"apple", "banana", "cherry"}
set2 = {1, 5, 7, 9, 3}
set3 = {True, False, False}

#A set with strings, integers and boolean values:

set1 = {"abc", 34, True, 40, "male"}

In [ ]:
#Using the set() constructor to make a set:

thisset = set(("apple", "banana", "cherry")) # note the double round-brackets tupple to set
print(thisset)

{'banana', 'cherry', 'apple'}

In [ ]:
#Check if "banana" is present in the set:

thisset = {"apple", "banana", "cherry"}

print("banana" in thisset)

True

In [ ]:
"""Add Items
Once a set is created, you cannot change its items, but you can add new items.

To add one item to a set use the add() method.

Add an item to a set, using the add() method: """

thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

{'orange', 'banana', 'cherry', 'apple'}

In [ ]:
"""To add items from another set into the current set, use the update() method.


Add elements from tropical into thisset """

thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical) #just like extend method in list

print(thisset)

{'pineapple', 'papaya', 'banana', 'mango', 'cherry', 'apple'}

In [ ]:
#Add elements of a list to at set:

thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]

thisset.update(mylist) # list ke set er vitore dukano jay

print(thisset)

{'orange', 'cherry', 'kiwi', 'banana', 'apple'}

In [ ]:
thisset = {""}
mylist = ["kiwi", "orange"]

thisset.update(mylist) # empty set e list transfer i.e. list ke set e transfer kora jay

print(thisset)
print(type(thisset))

{'', 'orange', 'kiwi'}
<class 'set'>

In [ ]:
"""Remove Item

To remove an item in a set, use the remove(), or the discard() method.

Remove "banana" by using the remove() method:"""

thisset = {"apple", "banana", "cherry"}

thisset.remove("banana") # variable.remove(value)

print(thisset)

{'cherry', 'apple'}

In [ ]:
"""If the item to remove does not exist, remove() will raise an error.


Remove "banana" by using the discard() method:"""

thisset = {"apple", "banana", "cherry"}

thisset.discard("banana")

print(thisset)
#If the item to remove does not exist, discard() will NOT raise an error.

{'cherry', 'apple'}

# pop

In [ ]:
#Remove the last item by using the pop() method:

thisset = {"apple", "banana", "cherry"}

x = thisset.pop() # pop korle last er element ta remove hobe 

print(x)

print(thisset)
print("\n")

banana
{'cherry', 'apple'}

In [ ]:
#The clear() method empties the set:

thisset = {"apple", "banana", "cherry"}

thisset.clear()

print(thisset)

set()

In [ ]:
# for parmanently deletation a set
#The del keyword will delete the set completely:

thisset = {"apple", "banana", "cherry"}

del thisset

#print(thisset)

In [ ]:
#extend method
list1=[1,2,3,4,5]
list2=['a','b','c']
list1.extend(list2)
print(list1)

#append method
list1=[1,2,3,4,5]
list2=['a','b','c']
list1.append(list2)
print(list1)

[1, 2, 3, 4, 5, 'a', 'b', 'c']
[1, 2, 3, 4, 5, ['a', 'b', 'c']]